<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeti - <%- titlePage %>
    </title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;900&family=Staatliches&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>

    <header class="site-header contenedor">
        <a href="/">
            <img src="/img/logo.png" alt="Logo Meeti" />
        </a>
        <nav class="nav">
            <a href="#">Crear grupo</a>
            <a href="/iniciar-sesion">Iniciar sesión</a>
            <a href="/crear-cuenta ">Registrarse</a>
        </nav>
    </header>

    <% if(locals.messages) { %>
        <% const category=Object.keys(locals.messages) %>
            <% if(category.length){ %>
                <% locals.messages[category].forEach(alert=> { %>
                    <div class="alertas">
                        <p class="alerta <%= category %>">
                            <%= alert %>
                        </p>
                    </div>
                    <% }) %>
                        <% } %>
                            <% } %>

                                <%- body %>

                                    <footer class="site-footer contenedor">
                                        <nav class="nav">
                                            <a href="#">Crear grupo</a>
                                            <a href="#">Iniciar sesión</a>
                                            <a href="/crear-cuenta">Registrarse</a>
                                        </nav>

                                        <p class="copyright">Todos los derechos reservados <%- year %>
                                        </p>
                                    </footer>
</body>

</html>